@charset "UTF-8";

.navbar h1 {
    margin-left: 30px;
    font-size: 100px;
    color: black;
}

.navbar-nav .nav-link {
    color: black;
}

#navbarNav{
	margin-right: 500px;
}

.form-control {
    width: 250px;
    margin-bottom: 0px;
}

.container{
	margin: 50px;
	width: 400px;
	height: 400px;
	color: black;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
	padding-left: 40px;
	padding-top: 40px;
}

.btn-primary {
    background-color: #5e43d8;
    border-color: #5e43d8;
    width: 200px;
}

.btn-primary:hover {
    background-color: #5e43d8;
    border-color: #5e43d8;
}

.formulario-login{
	margin-top: 20px;
	margin-bottom: 20px; 
}

.login{
	margin-left: 30px;
}

h2 {
    font-size: 50px;
	color: black;
}

form .form-error {
    color: red;
    white-space: nowrap;
    font-size: 0.9rem;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px; 
}

.formulario-login div {
    margin-bottom: 20px;
}
